body {
  font-family: 'Merriweather', serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.platypi-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  font-family: 'Platypi', serif;
  margin-top: 0;
  padding: 0;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: #007acc;
  background-color: rgb(210, 210, 210);
  width: 80%;
  /* padding: 10px;
  margin: 10px ; */
}

h2 {
  font-weight: 500;
  font-size: 2em;
  color: #005b99;
  background-color: rgb(210, 210, 210);
  width: fit-content;
}

h3 {
  font-weight: 400;
  font-size: 1.5em;
  color: #003f66;
  padding: 0%;
  margin: 0%;
}

a {
  color: #007acc;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #093450;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul ul {
  margin-left: 20px;
}

ul ul li {
  margin-bottom: 5px;
}


